<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">
    <xacro:include filename="$(find project_rp)/urdf/r_link.xacro" />
    <xacro:include filename="$(find project_rp)/urdf/f_link.xacro" />
    <xacro:include filename="$(find project_rp)/urdf/base.xacro" />
    <xacro:base name="l0" />
    <xacro:r_link prefix="l1" parent="l0" length="1.400000" radius="0.1" joint_rpy="0 0 0" joint_xyz="0 0 0" link_rpy="0 0 0" link_xyz="0 0 0.700000" type="continuous"/>
    <xacro:r_link prefix="l2" parent="l1" length="0.2" radius="0.1" joint_rpy="-1.570796 0 0" joint_xyz="0.000000 0 1.400000" link_rpy="0 0 0" link_xyz="0.000000 0 0.000000" type="continuous"/>
    <xacro:r_link prefix="l3" parent="l2" length="1.200000" radius="0.1" joint_rpy="1.570796 0 0" joint_xyz="0.000000 0 0.000000" link_rpy="0 0 0" link_xyz="0.000000 0 0.600000" type="continuous"/>
    <xacro:r_link prefix="l4" parent="l3" length="0.2" radius="0.1" joint_rpy="-1.570796 0 0" joint_xyz="0.000000 0 1.200000" link_rpy="0 0 0" link_xyz="0.000000 0 0.000000" type="continuous"/>
    <xacro:f_link prefix="l5" parent="l4" length="1.000000" radius="0.1" link_rpy="0 1.570796 0" link_xyz="0.500000 0 0.000000"/>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>
